.content-container {
  z-index: 99999;
}

.particles-container {
  z-index: 1 !important;
}

.MuiTypography-root {
  font-family: "Source Code Pro", monospace !important;
  color: aliceblue;
}
.MuiTypography-h1 {
  font-weight: 300 !important;
  font-size: 40px !important;
  letter-spacing: -3px !important;
}

.MuiTypography-body1 {
  font-weight: 100 !important;
  font-size: 16px !important;
}

.info-box {
  width: 60%;
  height: 40%;
  position: absolute;
  margin-top: 20%;
  margin-left: 10px;
}

.project-box {
  display: flex;
  justify-content: inherit;
  flex-direction: row;
  position: absolute;
  width: 75%;
  margin-top: 200px;
}

.project-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-box img {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: absolute;
  width: 50%;
  margin-top: 200px;
}

.MuiCard-root {
  background-color: rgba(48, 48, 48, 0.693) !important;
  margin-right: 10px !important;
  width: 60% !important;
}

.MuiCardActions-root {
  display: flex !important;
  align-items: flex-end !important;
  justify-content: flex-end !important;
}

.appbar {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin-top: 10px;
}

.slide-enter,
.slide-exit {
  transition: transform 500ms ease-out;
}

.slide-enter {
  position: absolute;
  width: 100%;
  transform: translateX(100%);
}

.slide-enter.slide-enter-active {
  transform: translateX(0%);
}

.slide-exit {
  position: absolute;
  width: 100%;
  transform: translateX(0%);
}

.slide-exit-active {
  transform: translateX(100%);
}

.progress-bar {
  background-color: #3539ba !important;
  font-size: 16px !important;
}

.progress {
  display: flex;
  margin: 0 auto !important;
  margin-bottom: 10px !important;
  width: 90% !important;
  height: 30px !important;
}

@media only screen and (max-width: 1024px) {
  .project-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 90%;
    margin-top: 200px;
  }
  .MuiCard-root {
    background-color: rgba(56, 56, 56, 0.563) !important;
    margin-bottom: 10px !important;
    width: 100% !important;
  }
  .about-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: absolute;
    width: 90%;
    margin-top: 200px;
  }
  .info-box {
    width: 70%;
    height: 40%;
    position: absolute;
    margin-top: 40%;
    margin-left: 10px;
  }
}
